{% extends 'SyliusNewsletterBundle:Frontend:layout.html.twig' %}

{% block content %}

<h2>newsletters list.</h2>

{% for newsletter in newsletters %}

    id: {{ newsletter.id }} <br />
    name: {{ newsletter.name }} <br />
    description... <br />
    {{ newsletter.description }} <br />
    link: <a href="{{ path('sylius_newsletter_newsletter_show', {'id': newsletter.id, 'slug': newsletter.slug}) }}">{{ newsletter.name }}</a>

{% endfor %}

    <br /> <br />
    {{ pagerfanta(paginator, 'default') }}

{% endblock %}
